
<style>
  .container {
    text-align: center; /* Center-align the text and form elements */
    justify-content: center; /* Center horizontally */
    align-items: center;  
    font-size: 20px
  }
</style>

<form action="/asteroids/results">
  <div class="container">
    <label for="start_date" >Enter start date</label>
    <input id="start_date" type="text" name= "start_date" placeholder="YYYY-MM-DD">
    <br> <br>
    <label for="end_date">Enter end date</label>
    <input id="end_date" type="text" name= "end_date" placeholder="YYYY-MM-DD">
    <br><br>
    <button>See the asteroids!!</button>

    <p><strong>NOTE:</strong> Do not leave spaces blank.</p>
    
    <br>
    <img src="https://cdn.hswstatic.com/gif/gettyimages-1317904367.jpg" alt="another asteroid">
    
    <p>Go <a href= "/">back<a>.</p>
  </div>
</form>
