<h1 style="text-align: center;">Welcome to NeoWs</h1>

<div style="font-size: 20px;">
  <div>NeoWs (Near Earth Object Web Service) is a web service for near earth Asteroid information.</div>
  <br>
  <div>With NeoWs a user can:</div>

  <ul>
    <li>Search for Asteroids based on their closest approach date to Earth</li>
    <li>Browse the overall data-set</li>
  </ul>

  <div><b>Data set:</b> All the data is from the NASA JPL Asteroid team (http://neo.jpl.nasa.gov/).</div>
  <br>
  <div>This API is maintained by <a href= https://github.com/SpaceRocks/>SpaceRocks Team: David Greenfield, Arezu Sarvestani, Jason English and Peter Baunach</a>.</div>
  <br>




  <form action="/enter-dates">

  <button>Get Started!</button>
  </form>
  
  <img src="https://science.nasa.gov/wp-content/uploads/2023/08/psyche-asteroid-illustration-pia24472.jpg?w=640" alt="an asteroid">
</div>
