<!DOCTYPE html>
<html>
  <head>
    <title>NeoWs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      
      body {
          background-color: black;
          color: white; 
          font-family: Baskerville; 
      }

  
      h1 {
          color: orange;
      }

      h2 {
          color: magenta;
      }
   
      p {
          color: white;
      }

    
      a {
          color: lightblue; 
      }
    </style>
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>
